<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.openclassrooms.realestatemanager">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />



    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.openclassrooms.realestatemanager.other.MainActivity"
            android:exported="true">

        </activity>

        <activity android:name="com.openclassrooms.realestatemanager.other.SecondActivity" />

        <activity android:name="com.openclassrooms.realestatemanager.estate_manager.RealEstateManagerActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".details.EstateDetailsActivity"/>

        <activity android:name=".map.EstateMapActivity" />


        <activity android:name="com.openclassrooms.realestatemanager.LogInActivity"
            android:exported="true">
        </activity>

        <activity android:name="com.openclassrooms.realestatemanager.CreateAccountActivity" />
        <activity android:name=".map.AroundMeMapActivity" />

        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="28d53f45543f0de52d0256beba61af04"/>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCuYYJ5kpqlBqDrdwUh_2UiD7RA6PVuhvs"/>



        <provider
            android:name=".provider.ItemContentProvider"
            android:authorities="com.openclassrooms.realestatemanager.provider"
            android:exported="true"/>

    </application>
</manifest>
